@import "../settings/colors.less";
@import "../settings/mixins.less";
@import "../settings/breakpoints.less";
@import "../settings/fonts.less";

.x-container{
    display: flex;
    flex-direction: column;
	background:@azul-bg;
	width:80%;
	max-width:1200px;
	min-width:600px;
	height:320px;
	position:relative;
	padding: 20px;
    box-sizing: border-box;
    @media @mobile{
        width: 100%;
        min-width: 375px;
        height: 510px;
    }
    &:before {
        content: "Passagens Aéreas";
        width: 200px;
        height: 40px;
        background: @azul;
        position: absolute;
        top: -40px;
        left:0;
        .alignH();
        align-items: center;
        font-size: @s-high;
        font-weight: bold;
        color: @branco;
        font-family: arial;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        @media @mobile{
            width: 100%;
            background: @azul-escuro;
        }
    }
    label {
        .fontWhite();
        font-weight: bold;
        font-size: @s-mediumP;
        margin-bottom: 10px;
    }
    &__Box{
        .fontWhite();
        display: flex;
        position: relative;
        height: 50px;
        h3{
            line-height: 35px;
            font-size: @s-big;
        }
        img{
            right: 0;
            position: absolute;
        }
        @media @tablet{
            h3{
                font-size: @s-high;
            }
        }
        @media @mobile{
            display: none;
        }
    }
    &__inputBox1{
        text-align: left;
        .fontWhite();
        .alignV();
        height: 40px;
        font-size: @s-normal;
        input[type=radio]{
            margin-right: 8px;
            width: 15px;
        }
    }
    &__inputBox2{
        text-align: left;
        .fontWhite();
        margin-top: 10px;
        display: flex;
        .container, .mat-form-field{
            .alignColumn();
            width: 50%;
            @media @mobile{
                width: 100%;
            }
            input{
                .inputPadrao();
                color: @azul-font;
                font-size: @s-medium;
                background: #fff;
                width: 100%;
            }
        }
        div{
            .alignColumn();
            width: 50%;
            input{
                .inputPadrao();
                color: @azul-font;
                font-size: @s-medium;
            }
            @media @mobile{
                margin-top: 10px;
                width: 100%;
            }
        }
        @media @mobile{
            flex-direction: column;
        }
    }
    &__inputBox3{
        text-align: left;
        .fontWhite();
        margin-top: 30px;
        display: flex;
        select{
            .inputPadrao();
            background: @azul-escuro;
            color: @branco;
        }
        .x-date{
            .alignColumn();
            width: 50%;
            input{
                .inputPadrao();
            }
            input[type="date"]::-webkit-inner-spin-button,
            input[type="date"]::-webkit-calendar-picker-indicator {
                .appearance();
                background: transparent;
                opacity: 0;
            }
            input[type="date"]{
                background-image: url('../../assets/img/calendario.png');
                background-position: 97% 50%;
                background-size: 20px;
                background-repeat: no-repeat;
                margin-right: 10px;
            }
            @media @mobile{
                width: 50%;
            }
        }
        .x-select{
            .alignColumn();
            width: 33.33%;
            padding: 0 0px 0 10px;
            box-sizing: border-box;
            &__labelM{
                font-size:12px;
                margin-top:3px;
                margin-bottom: -4px;
                display: none;
                @media @mobile{
                    display: block;
                }
            }
            @media @mobile{
                width: 50%;
                margin-top: 15px;
            }
        }
        #select1{
            margin-left: -10px;
        }
        @media @mobile{
            flex-direction: column;
        }
    }
    .x-divisor{
        width: 50%;
        display: flex;
        @media @mobile{
            width: 100%;
        }
    }
    &__Box2{
        display: none;
        text-align: left;
        .fontWhite();
        font-size: @s-mediumP;
        padding: 25px 0;
        @media @mobile{
            display: block;
        }
    }
    button{
        background: @verde-bg;
        border: none;
        .fontWhite();
        padding: 10px;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -38px;
        font-weight: bolder;
        cursor: pointer;
        font-size: @s-mediumP;
        @media @mobile{
            bottom: -60px;
            height: 60px;
            font-size: @s-high;
        }
    }
}
