//Background
@azul-bg: rgba(0, 116, 201, 0.9);
@verde-bg: rgba(75, 175, 0, 0.9);

//Colors
@azul: rgba(0, 116, 201, 1);
@azul-escuro: #01478c;
@branco: #fff;
@verde: rgba(75, 175, 0, 1);

//Color font
@azul-font: #0066b9;