// Mixin
.fontWhite{
    color: @branco;
    font-family: sans-serif;
}
.alignV{
    display: flex;
    align-items: center;
}
.alignH{
    display: flex;
    justify-content: center;
}
.alignC{
    display: flex;
    justify-content: center;
    align-items: center;
}
.alignColumn{
    display: flex;
    flex-direction: column;
}
.inputPadrao{
    height: 40px;
    border-radius: 4px;
    border: none;
    padding: 0px 10px;
    box-sizing: border-box;
    font-weight: bold;
}
.appearance{
    -webkit-appearance: none;
    -moz-appearance: none;
}