.fontWhite {
  color: #fff;
  font-family: sans-serif;
}
.alignV {
  display: flex;
  align-items: center;
}
.alignH {
  display: flex;
  justify-content: center;
}
.alignC {
  display: flex;
  justify-content: center;
  align-items: center;
}
.alignColumn {
  display: flex;
  flex-direction: column;
}
.inputPadrao {
  height: 40px;
  border-radius: 4px;
  border: none;
  padding: 0px 10px;
  box-sizing: border-box;
  font-weight: bold;
}
.appearance {
  -webkit-appearance: none;
  -moz-appearance: none;
}
.x-container {
  display: flex;
  flex-direction: column;
  background: rgba(0, 116, 201, 0.9);
  width: 80%;
  max-width: 1200px;
  min-width: 600px;
  height: 320px;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
}
@media screen and (max-width:764px) {
  .x-container {
    width: 100%;
    min-width: 375px;
    height: 510px;
  }
}
.x-container:before {
  content: "Passagens Aéreas";
  width: 200px;
  height: 40px;
  background: #0074c9;
  position: absolute;
  top: -40px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  font-family: arial;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
@media screen and (max-width:764px) {
  .x-container:before {
    width: 100%;
    background: #01478c;
  }
}
.x-container label {
  color: #fff;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}
.x-container__Box {
  color: #fff;
  font-family: sans-serif;
  display: flex;
  position: relative;
  height: 50px;
}
.x-container__Box h3 {
  line-height: 35px;
  font-size: 26px;
}
.x-container__Box img {
  right: 0;
  position: absolute;
}
@media screen and (max-width:1024px) {
  .x-container__Box h3 {
    font-size: 18px;
  }
}
@media screen and (max-width:764px) {
  .x-container__Box {
    display: none;
  }
}
.x-container__inputBox1 {
  text-align: left;
  color: #fff;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 12px;
}
.x-container__inputBox1 input[type=radio] {
  margin-right: 8px;
  width: 15px;
}
.x-container__inputBox2 {
  text-align: left;
  color: #fff;
  font-family: sans-serif;
  margin-top: 10px;
  display: flex;
}
.x-container__inputBox2 .container,
.x-container__inputBox2 .mat-form-field {
  display: flex;
  flex-direction: column;
  width: 50%;
}
@media screen and (max-width:764px) {
  .x-container__inputBox2 .container,
  .x-container__inputBox2 .mat-form-field {
    width: 100%;
  }
}
.x-container__inputBox2 .container input,
.x-container__inputBox2 .mat-form-field input {
  height: 40px;
  border-radius: 4px;
  border: none;
  padding: 0px 10px;
  box-sizing: border-box;
  font-weight: bold;
  color: #0066b9;
  font-size: 14px;
  background: #fff;
  width: 100%;
}
.x-container__inputBox2 div {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.x-container__inputBox2 div input {
  height: 40px;
  border-radius: 4px;
  border: none;
  padding: 0px 10px;
  box-sizing: border-box;
  font-weight: bold;
  color: #0066b9;
  font-size: 14px;
}
@media screen and (max-width:764px) {
  .x-container__inputBox2 div {
    margin-top: 10px;
    width: 100%;
  }
}
@media screen and (max-width:764px) {
  .x-container__inputBox2 {
    flex-direction: column;
  }
}
.x-container__inputBox3 {
  text-align: left;
  color: #fff;
  font-family: sans-serif;
  margin-top: 30px;
  display: flex;
}
.x-container__inputBox3 select {
  height: 40px;
  border-radius: 4px;
  border: none;
  padding: 0px 10px;
  box-sizing: border-box;
  font-weight: bold;
  background: #01478c;
  color: #fff;
}
.x-container__inputBox3 .x-date {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.x-container__inputBox3 .x-date input {
  height: 40px;
  border-radius: 4px;
  border: none;
  padding: 0px 10px;
  box-sizing: border-box;
  font-weight: bold;
}
.x-container__inputBox3 .x-date input[type="date"]::-webkit-inner-spin-button,
.x-container__inputBox3 .x-date input[type="date"]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  opacity: 0;
}
.x-container__inputBox3 .x-date input[type="date"] {
  background-image: url('../../assets/img/calendario.png');
  background-position: 97% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  margin-right: 10px;
}
@media screen and (max-width:764px) {
  .x-container__inputBox3 .x-date {
    width: 50%;
  }
}
.x-container__inputBox3 .x-select {
  display: flex;
  flex-direction: column;
  width: 33.33%;
  padding: 0 0px 0 10px;
  box-sizing: border-box;
}
.x-container__inputBox3 .x-select__labelM {
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: -4px;
  display: none;
}
@media screen and (max-width:764px) {
  .x-container__inputBox3 .x-select__labelM {
    display: block;
  }
}
@media screen and (max-width:764px) {
  .x-container__inputBox3 .x-select {
    width: 50%;
    margin-top: 15px;
  }
}
.x-container__inputBox3 #select1 {
  margin-left: -10px;
}
@media screen and (max-width:764px) {
  .x-container__inputBox3 {
    flex-direction: column;
  }
}
.x-container .x-divisor {
  width: 50%;
  display: flex;
}
@media screen and (max-width:764px) {
  .x-container .x-divisor {
    width: 100%;
  }
}
.x-container__Box2 {
  display: none;
  text-align: left;
  color: #fff;
  font-family: sans-serif;
  font-size: 16px;
  padding: 25px 0;
}
@media screen and (max-width:764px) {
  .x-container__Box2 {
    display: block;
  }
}
.x-container button {
  background: rgba(75, 175, 0, 0.9);
  border: none;
  color: #fff;
  font-family: sans-serif;
  padding: 10px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -38px;
  font-weight: bolder;
  cursor: pointer;
  font-size: 16px;
}
@media screen and (max-width:764px) {
  .x-container button {
    bottom: -60px;
    height: 60px;
    font-size: 18px;
  }
}
