<!--The content below is only a placeholder and can be replaced.-->
<section class="x-container">
    <div class="x-container__Box">
      <h3>Encontre os melhores preços e boa viagem!</h3>
      <img src="../assets/img/econometro.png" alt="econometroViajaNet">
    </div>
    <div class="x-container__inputBox1">
      <!-- <label>Ida e Volta</label> -->
      <input type="radio" value="ida-e-volta"> Ida e Volta
    </div>
    <div class="x-container__inputBox2">
      <mat-form-field class="container">
        <div style='margin-right: 20px;width: 99%;'>
          <label for="origem">Origem</label>
          <input type="text" placeholder="Insira a origem" name="origem" id="origem" matInput [formControl]="searchTerm" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let Locations of myVoyage" [value]="Locations.Name">
              {{ Locations.Name }}
            </mat-option>
          </mat-autocomplete>
        </div>
      </mat-form-field>
        <div>
            <label for="destino">Destino</label>
            <input type="text" placeholder="Insira o destino" name="destino" id="destino">
        </div>
    </div>
    <div class="x-container__inputBox3">
      <div class="x-divisor">
          <div class='x-date'>
              <label for="ida">Data de ida</label>
              <input type="date" id="ida">
            </div>
            <div class='x-date'>
              <label for="volta">Data e Volta</label>
              <input type="date" id="volta">
            </div>
      </div>
      <div class="x-divisor" id="select1">
          <div class="x-select">
            <label>Adultos</label>
            <select>
              <option value="Nenhum">Nenhum</option>
              <option value="1">1 Adulto</option>
              <option value="2">2 Adultos</option>
              <option value="3">3 Adultos</option>
              <option value="4">4 Adultos</option>
              <option value="5">5 Adultos</option>
              <option value="6">6 Adultos</option>
              <option value="Mais de 6">Mais de 6</option>
            </select>
          </div>
          <div class="x-select">
            <label>Crianças</label>
            <select>
              <option value="Nenhum">Nenhum</option>
              <option value="1">1 Crianças</option>
              <option value="2">2 Crianças</option>
              <option value="3">3 Crianças</option>
              <option value="4">4 Crianças</option>
              <option value="5">5 Crianças</option>
              <option value="6">6 Crianças</option>
              <option value="Mais de 6">Mais de 6</option>
            </select>
            <label class="x-select__labelM">2 a 11 anos</label>
          </div>
          <div class="x-select">
            <label>Bebês</label>
            <select>
              <option value="Nenhum">Nenhum</option>
              <option value="1">1 Bebês</option>
              <option value="2">2 Bebês</option>
              <option value="3">3 Bebês</option>
              <option value="4">4 Bebês</option>
              <option value="5">5 Bebês</option>
              <option value="6">6 Bebês</option>
              <option value="Mais de 6">Mais de 6</option>
            </select>
            <label class="x-select__labelM">0 a 23 meses</label>
          </div>
      </div>
    </div>
    <div class="x-container__Box2">
      <h3>+ Opções de busca</h3>
    </div>
    <button (click)="updateName()">Pesquisar</button>
  </section>
  
