/* You can add global styles to this file, and also import other style files */
*{
    padding: 0%;
    margin:0;
    outline:none;
}
.x-main {
    background-image: url("./assets/img/background-1.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
}
app-root{
    width: 100%;
    text-align: -webkit-center;
}